@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url("../../assets/fonts/OpenSans.ttf");
}

.DigitalLock {
  width: 462px;
  margin: 50px auto;
  border: 1px solid #f7e4c5;
  font-family: 'OpenSans', sans-serif;
  color: #181a19;
  background-color: #fff;
  border-radius: 3px;
}

.DigitalLock-monitor {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f7e4c5;
  font-size: 57px;
  text-align: center;
  letter-spacing: 10px;
  padding: 5px 0;
}

.DigitalLock-panel {
  padding: 2px;

}

.DigitalLock-btn {
  display: inline-block;
  width: 32.43%;
  height: 40px;
  border: 1px solid #f7e4c5;
  font-size: 28px;
  color: #181a19;
  margin: 2px;
  cursor: pointer;
  background-color: #f7e4c5;
}

.DigitalLock-btn_red {
  background-color: #dcc6c6;
}

.DigitalLock-btn_green {
  background-color: #bcd8c1;
}

.DigitalLock-bd_green {
  background-color: aquamarine;
}